= form_tag videos_index_path, :method => :post do
  %div
    = label_tag "search for:"
    = text_field_tag "query"

  %div
    = submit_tag "Submit"

- if @videos
  %h2 Founded results:
  -@videos.each do |v|
    %div
      %div= link_to v["title"], videos_add_to_queue_path(:id =>v["id"])
      %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", |
      :frameborder => "0", :height => "430", :src => "//www.youtube.com/embed/#{v["id"]}", |
      :title => "YouTube video player", :width => "640"}


=@countries
