<div class="row-fluid">
  <div class="span3">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Most Played</th>
        </tr>
      </thead>
      <tbody>
        <% @fav_songs.each do |song| %>
          <tr>
            <td><%= link_to "<i class='icon-plus'></i>".html_safe, songs_path(:song => {:youtube_id => song.youtube_id}), :method => :post, :class => "btn" %></td>
            <td><span title="<%= song.times_played %> times played"><%= song.title %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Last Played</th>
        </tr>
      </thead>
      <tbody>
        <% @song_history.each do |song| %>
          <tr>
            <td><%= link_to "<i class='icon-plus'></i>".html_safe, songs_path(:song => {:youtube_id => song.youtube_id}), :method => :post, :class => "btn" %></td>
            <td><span title="<%= song.times_played %> times played"><%= song.title %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
