<div class="row-fluid">
  <div class="span3">
    <% unless @queued.empty? %>
      <strong><%= pluralize(@queued.count, "song") %> in the queue. <%= link_to_function("Show?", "$('#queue-section').toggle()") %> | <%= link_to("Play?", play_songs_path) %></strong>
      <div id="queue-section" style="display:none;">
        <ol>
          <% @queued.each do |song| %>
            <li><%= song.title %></li>
          <% end %>
        </ol>
      </div>
    <% end %>
    <label for="query"><h3>Search on YouTube</h3></label>
    <%= form_tag search_songs_path, :method => :get, :class => "form-search" do %>
      <%= text_field_tag "query", "", :class => "input-medium search-query", :autofocus => "autofocus" %>
      <%= submit_tag "Search", :class => "btn" %>
    <% end %>
    <% if @videos %>
      <% @videos.each do |v| %>
        <div>
          <div>
            <%= form_for Song.new, url: songs_path do |f| %>
              <%= f.hidden_field :youtube_id, value: v["id"] %>
              <%= f.hidden_field :title, value: v["title"] %>
                <%= f.submit v["title"], :class => "btn btn-link btn-large" %>
                <%= f.submit "Add", :class => "btn" %>
            <% end %>
          </div>
          <iframe allowFullScreen="true" allowscriptaccess="always" frameborder="0" height="215" src="//www.youtube.com/embed/#{v["id"]}" title="YouTube video player" width="320"></iframe>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
